<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811673093607-s6kifhisran1jemhe07un360turvh80a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811673093607-s6kifhisran1jemhe07un360turvh80a</string>
	<key>API_KEY</key>
	<string>AIzaSyCLpksOVCc6DXZ6Y9DU0QRIpzzqT9-QPSw</string>
	<key>GCM_SENDER_ID</key>
	<string>811673093607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.syndease</string>
	<key>PROJECT_ID</key>
	<string>synease-18d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>synease-18d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811673093607:ios:af9b6e0086a968e0232942</string>
</dict>
</plist>